<div *ngIf="product.val.title" class="card" style="width: 20rem;" >
    <img *ngIf="product.val.imageUrl" [src]=product.val.imageUrl class="{{product.val.title}}" alt="{{ product.val.title }}" >
    <div class="card-body">
        <h4 class="card-title">{{product.val.title}}</h4>
        <p class="card-text">{{ product.val.price | currency:'USD':true}}</p>
    </div>
    <div class="card-footer">
        <div *ngIf="showActions" class="d-grid gap-2">
            <button
                *ngIf="getQuantity()===0; else updateQuantity" 
                (click)="addToCart()"
                class="btn btn-secondary">Add to cart</button>
            <ng-template #updateQuantity>
                <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
            </ng-template>
        </div>
    </div>
</div>
