<nav class="navbar  navbar-expand-md navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink = "/">
        <i class="fa fa-graduation-cap" >  Shop App </i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto   ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <i class="fa fa-cart-arrow-down"></i>
              <span class="badge bg-secondary bg-warning bg-pill" style="margin-left: 10px;">
                {{shoppingCartItemCount}}
              </span>
            </a>
          </li>
          <li class="nav-item">
        </ul>
        <ul class="navbar-nav  ">
          <ng-template #anonymousUser>
            <li  class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{appUser.name}}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/my/orders">My Orders</a></li>
              <ng-container *ngIf="appUser.isAdmin">
                <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
              </ng-container>
  
              <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
            </ul>
          </li>
          <li class="nav-item">
        </ul>
      </div>
    </div>
    

</nav>